
        body{ background-color:rebeccapurple}
        h1{
            color:blanchedalmond;
            margin-left:50px; 
        }
        h2{
            color:rgba(205, 39, 30, 30); 
            margin-left:50px; 
        }
        .ironman{
            color:saddlebrown; 
            margin-left:50px; 
        }
        .ironman{
            color:saddlebrown; 
            margin-left:50px; 
        }
        #hulk{
            color:skyblue; 
            margin-left:50px; 
        }
    